/* http://colorschemedesigner.com/#3h21Pw0w0w0w0 */
body {
  min-height: 2000px;
  padding-top: 70px;
}
.transaction .title, .current .title {
  font-weight: bold;
}
.transaction .title,
.transaction .date,
.transaction .entry .amount,
.current .account .name,
.current .account .balance {
	border-color: #fff;
}
.transaction .title:hover,
.transaction .date:hover,
.transaction .entry .amount:hover,
.current .account .name:hover,
.current .account .balance:hover {
	border-color: #ccc;
}
.transaction .entry .amount, .transaction .entry .balance, .current .account .balance {
	text-align:right;
}
.transaction .entry .balance, .current .title, .entries .account {
	padding: 6px 27px;
}
.current .account, .transactions .transaction {
	padding: 1px;
	margin: 1px 0;
	border-radius: 4px;
}
.current .account:nth-child(even), .transactions .transaction:nth-child(even) {
	background-color: #DDD;
}
.current .account:nth-child(odd), .transactions .transaction:nth-child(odd) {
	background-color: #EEE;
}
.current .account:hover, .transactions .transaction:hover {
	background-color: #ABEBFF;
}
.current .account.selected:hover, .transactions .transaction.selected:hover {
	background-color: #BDEDFC;
}
.current .account.selected:nth-child(even), .transactions .transaction.selected:nth-child(even) {
	background-color: #80D0E9;
}
.current .account.selected:nth-child(odd), .transactions .transaction.selected:nth-child(odd) {
	background-color: #95D9EE;
}

.flo-hidden {
	display: none;
}
.ui-front {
	z-index: 1031;
}